*{
	margin: 0;
	padding: 0;
}

.homepage{
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(image.jpg);
	background-position: center;
	background-size: cover;
	height: 109vh;
}

.navBar{
	width: 1200px;
	height: 75px;
	margin: auto;
}

.icon{
	width: 200px;
	float: left;
	height: 70px;
}

.logo{
	color: #fff;
	font-size: 25px;
	font-family: Arial;
	float: left;
	padding-top: 20px;
}

.menu{
	width: 400px;
	float: left;
	height: 70px;
}

.ul-menu{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ul-menu li{
	list-style: none;
	margin-left: 62px;
	margin-top: 27px;
	font-size: 14px;
}

.ul-menu li a{
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.3s ease-in-out;
	display: inline-block;
	white-space: nowrap;
    width: auto;
}

.ul-menu li a:hover{
	color: #4b76cc;
	font-size: 16px;
}

.home-page-content{
	width: 1200px;
	height: auto;
	margin: auto;
	color: #fff;
	position: relative;
}

.home-page-content .paragraphe-home-page{
	padding-left: 20px;
	padding-bottom: 25px;
	font-family: Arial;
	letter-spacing: 1.2px;
	line-height: 30px;
}

.home-page-content h1{
	font-family: 'Times New Roman';
	font-size: 50px;
	padding-left: 20px;
	margin-top: 9%;
	letter-spacing: 2px;
}

.home-page-content span{
	color: #ffff;
	font-size: 50px;
	text-shadow: 1px 1px 2px grey; 
}

