*{
	margin: 0;
	padding: 0;
}

.body-homepage{
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%), url(image.jpg);
}

.body-mappage .homepage {
    height: auto;
    min-height: 80px; 
    background: none; 
}

.body-mappage h1 {
    margin-top: 100px !important; 
}

.navBar {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.icon{
	width: 200px;
	float: left;
	height: 70px;
	padding-top: 25px;
}

.logo{
	color: #fff;
	font-size: 25px;
	font-family: Arial;
	float: left;
}

.menu{
	width: 400px;
	float: left;
	height: 70px;
}

.navbar-nav{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item{
	list-style: none;
	margin-left: 62px;
	font-size: 14px;
}

.nav-link{
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.3s ease-in-out;
	display: inline-block;
	white-space: nowrap;
    width: auto;
}

.nav-link:hover{
	color: #4b76cc !important;
	font-size: 16px;
}

.home-page-content{
	width: 1200px;
	height: auto;
	margin: auto;
	color: #fff;
	position: relative;
}

.home-page-content .paragraphe-home-page{
	padding-left: 20px;
	padding-bottom: 25px;
	font-family: Arial;
	letter-spacing: 1.2px;
	line-height: 30px;
}

.home-page-content h1{
	font-family: 'Times New Roman';
	font-size: 50px;
	padding-left: 20px;
	margin-top: 9%;
	letter-spacing: 2px;
}

.home-page-content span{
	color: #ffff;
	font-size: 50px;
	text-shadow: 1px 1px 2px grey; 
}

/* CSS for map page */
#map { 
	width: 90%;
	height: 90%; 
}

.body-mappage {
	background-color: black;
}

